:root{
    --fs-sm:13px;
    --fs-lg:14px;
    --fs-xl:15px;
    --fs-2xl:18px;
    --fs-4xl:28px;
    --fs-6xl:38px;
    --grey:#252423;
    --grey2:#242323;
    --greywhite:#FFF9E4;
    --white:#FAFAFA;
    --white2:#FFFCF6;
    --black:#3C3C3C;
    --dark:#444343;
    --yellow:#FFCF23;
    --ff-mont:'Montserrat Alternates';
}
.bsGrey{
    color: var(--grey);
}
.bgGrey{
    background: var(--grey);
}
.bgGrey2{
    background: var(--grey2);
}
.bsBlack{
    color: var(--black);
}
.bsYellow{
    color: var(--yellow);
}
.bgBlack{
    background: var(--black);
}
.bsWhite{
    color: var(--white) !important;
}
.bgWhite{
    background: var(--white);
}
.bgWhite2{
    background: var(--white2);
}
.bgGreyWhite{
    background: var(--greywhite);
}
.fs-sm{
    font-size: var(--fs-sm);
}
.fs-lg{
    font-size: var(--fs-lg);
}

.fs-xl{
    font-size: var(--fs-xl);
}
.fs-2xl{
    font-size: var(--fs-2xl);
}
.fs-4xl{
    font-size: var(--fs-4xl);
}
.fs-6xl{
    font-size: var(--fs-6xl);
}
.ff-mont{
    font-family: var(--ff-mont);
}