@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700&display=swap");
@import url(/assets/css/root.css);
* {
  box-sizing: border-box;
  list-style-type: none;
  /* outline: 1px solid red; */
}
.lh_24 {
  line-height: 24px !important;
}
.lh_30 {
  line-height: 30px !important;
}
.p_16_30 {
  padding: 16px 30px !important;
}
/* nav bar  */
.bg_nav {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
}
.logo a span svg {
  width: 200px;
  height: 25px;
}
.loginBtn {
  border: 1px solid var(--white);
  background: transparent;
  transition: 0.3s;
}
.loginBtn:hover {
  border: 1px solid var(--loginBtn);
  background: var(--loginBtn);
}
.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.vh_140 {
  min-height: 110vh;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.z-5{
  z-index: 5 !important;
}
/* backtotop */
.backto-top {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: var(--backtotop);
  border-radius: 50px;
  transition: 0.3s;
}
.d_nones {
  display: none;
}
.backto-top:hover {
transform: translateY(-5px);
}
/* reponsive-navbar */
.underLine::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 15px;
  background-color: var(--white);
  bottom: -12px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}
.underLine:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.navLinks:hover {
  -webkit-text-stroke: 0.2px white !important;
}
/* menu icon  */
.menu span {
  width: 28px;
  height: 1.4px;
  margin-top: 10px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}
.span4 {
  height: 2.4px !important;
  border: 1px solid black;
  transform: rotate(45deg) !important;
  transition: 0.4s;
  width: 20px !important;
  position: relative;
  top: 11px;
  right: -12px;
}
.span5 {
  height: 2.4px !important;
  border: 1px solid black;
  transform: rotate(-45deg) !important;
  position: relative;
  top: -0.5px;
  right: -12px;
  transition: 0.4s;
  width: 20px !important;
}
.span6 {
  display: none !important;
  transition: 0.4s;
}
.bgMenu {
  width: 46px;
  height: 46px;
  background: var(--menu);
  border-radius: 250px;
}
.mobileViewLine {
  width: 80%;
  height: 2px;
  position: relative;
  opacity: 0.2;
  background: #fafafa;
}
/* section 1  */
.minH_630 {
  min-height: 630px;
}
.max_800 {
  max-width: 800px;
}
.contactBtn {
  border: 1px solid #ffa723 !important;
  border-radius: 5px !important;
  background: linear-gradient(125deg, #ffcf23 0%, #ffa723 100%) !important;
  transition: 0.3s;
}
.contactBtn:hover {
  border: 1px solid #fafafa !important;
  border-radius: 5px !important;
  background: transparent !important;
}
.skyImg {
  top: 10%;
  left: -8%;
}
.skyImg svg {
  width: 106px;
  height: 106px;
}
.orangeImg {
  bottom: 4%;
  max-width: 94px;
  max-height: 94px;
}
.yellowImg {
  top: 14%;
  max-width: 94px;
  max-height: 94px;
}
.greenImg {
  bottom: 1%;
  max-width: 94px;
  max-height: 94px;
}
.scribble1 {
  top: 14%;
  left: 22%;
}
.scribble1 svg {
  width: 47px;
  height: 28px;
}
.scribble2 svg {
  width: 47px;
  height: 28px;
}
.scribble3 svg {
  width: 47px;
  height: 28px;
}
.scribble4 svg {
  width: 47px;
  height: 28px;
}
.scribble2 {
  top: 14%;
  right: 16%;
}
.scribble3 {
  bottom: 20%;
  left: 18%;
}
.scribble4 {
  bottom: 10%;
  right: 20%;
}
.centerImg1 {
  top: 30%;
  right: 0;
  left: 20%;
  bottom: 0;
  /* transform: rotate(90deg); */
}
.cntrImg {
  max-width: 881px;
  min-height: 83px;
  border-radius: 881px;
  background: var(--Linear, linear-gradient(125deg, #ffcf23 0%, #ffa723 100%));
  filter: blur(239px);
}
/* section 2  */
.sec2Slider .slick-slide {
  margin-right: 10px;
  margin-left: 10px;
}
.sec2Slider .slick-dots {
  bottom: -40px;
}
.sec2Slider .slick-dots li.slick-active button:before {
  opacity: 1;
  color: var(--black);
}
.sec2Slider .slick-dots li {
  width: 30px;
}
.sec2Slider .slick-dots li button:before {
  height: 11px;
  width: 31px;
  background-color: var(--black);
  position: absolute;
  left: 50%;
  border-radius: 34px;
  font-size: 0;
}
/* section 3  */
.sec3Slider .slick-center,
.sec3Slider .slick-active{
  max-width: 831.575px !important;
  max-height: 700.369px !important;
  flex-shrink: 0;
}
.sec3Slider .slick-slide{
  max-width: 710px;
  max-height: 598px;
  flex-shrink: 0;
}
.sec3Slider .slick-list .slick-track{
  display: flex;
  align-items: center;
}
.max_700{
  max-width: 700px;
}
.sec3Skyimg{
  top: 0%;
}
.sec3Skyimg span svg{
  width: 90px;
height: 89.328px;
flex-shrink: 0;
}
.sec3PImg2{
  top: 2%;
  right: 5%;
}
.sec3PImg2 span svg{
  width: 25.813px;
  height: 27px;
  flex-shrink: 0;
}
.sec3PImg3{
  bottom: 5%;
  left: 5%;
}
.sec3PImg3 span svg{
  width: 25.813px;
  height: 27px;
  flex-shrink: 0;
}
.sec3PImg4{
  bottom: -2%;
  right: 0;
}
.sec3PImg4 span svg{
  width: 120.68px;
  height: 169.739px;
  transform: rotate(0.779deg);
}
.bookBtn{
  padding: 14px 30px !important;
  border-radius: 5px;
border: 1px solid var(--black);
background: #FFF9E4;
box-shadow: 5px 5px 0px 0px #3C3C3C;
transition: 0.3s;
}
.bookBtn:hover{
box-shadow: 7px 7px 0px 0px #3C3C3C;
}
/* section 4  */
.max_600 {
  max-width: 600px;
}
.p_14_32 {
  padding: 14px 32px !important;
}
.btn1 {
  max-width: 350px !important;
}
.btn2 {
  max-width: 350px !important;
}
.btn3 {
  max-width: 350px !important;
}
.btn4 {
  max-width: 350px !important;
}
.serviceBtn {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  transition: 0.3s;
}
.serviceBtn:hover {
  border: 1px solid #ffcf23 !important;
  background: #242323;
  box-shadow: 5px 5px 0px 0px #ffcf23;
}
.priceBtn {
  max-width: 196px;
  background: var(--greywhite) !important;
  transform: translate(32px, -32px);
  transition: 0.3s;
  border: 1px solid var(--black) !important;
}
.priceCard:hover .priceBtn {
  background: var(--yellow) !important;
  border: 1px solid var(--yellow) !important;
}
.priceCard:hover .startedBtn {
  border: 2px solid #988353 !important;
}
.priceCard {
  border: 1px solid var(--black) !important;
  transition: 0.3s;
}
.priceCard:hover {
  border: 1px solid var(--yellow) !important;
  background: #fff9e4;
  box-shadow: 10px 10px 0px 0px #ffcf23 !important;
}
.startedBtn {
  border-radius: 5px;
  border: 2px solid var(--BLACK, #3c3c3c) !important;
}

/* section 5  */
.sec5img1 {
  mix-blend-mode: multiply;
  max-width: 200px;
  min-height: 162px;
}
.max_450 {
  max-width: 450px;
}
.bookNowBtn {
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
}
.leftEllipse {
  width: 300px;
  min-height: 138px;
  flex-shrink: 0;
  border-radius: 300px;
  background: var(--Linear, linear-gradient(125deg, #ffcf23 0%, #ffa723 100%));
  filter: blur(239px);
}
.rightEllipse {
  top: 46%;
  width: 167px;
  height: 77px;
  border-radius: 300px;
  background: var(--Linear, linear-gradient(125deg, #ffcf23 0%, #ffa723 100%));
  filter: blur(239px);
}
.sec5Img1 {
  top: 1%;
  left: 5%;
}
.sec5Img2 {
  top: 1%;
  right: 5%;
}
.sec5Img3 {
  top: 30%;
  left: 5%;
}
.sec5Img4 {
  top: 42%;
  right: 7%;
}
.sec5Img5 {
  top: 43.9%;
  left: 0;
}
.sec5Img6 {
  top: 46.5%;
  right: 10%;
}
.sec5Img7 {
  top: 83%;
  left: 9%;
}
.sec5Img1 span svg {
  width: 16px;
  height: 23.529px;
  flex-shrink: 0;
}
.sec5Img3 span svg {
  width: 16px;
  height: 23.529px;
  flex-shrink: 0;
}
.sec5Img2 span svg {
  width: 16px;
  height: 23.529px;
  flex-shrink: 0;
}
.sec5Img4 span svg {
  width: 16px;
  height: 23.529px;
}
.sec5Img5 span svg {
  width: 123px;
  height: 90.529px;
}
.sec5Img6 span svg {
  width: 52px;
  height: 50.529px;
}
.sec5Img7 span svg {
  width: 52px;
  height: 50.529px;
}
/* section 6  */
.addOnBtn {
  background: rgba(255, 255, 255, 0.2) !important;
  transition: 0.3s;
}
.addOnBtn:hover {
transform: translateY(4px);
}
.greenimg1 {
  top: -12%;
  left: 10%;
  width: 74.99px;
  height: 63.69px;
  transform: rotate(12.79deg);
}
.skyimg1 {
  bottom: 0;
  right: 0;
  width: 74.99px;
  height: 63.69px;
  transform: rotate(0.79deg);
}
/* section 7  */
.max_550 {
  max-width: 550px;
}
.sec7img {
  max-width: 70px;
  min-height: 72px;
}
.ceoCard {
  border: 1px solid var(--BLACK, #3c3c3c) !important;
  max-width: 891px;
  transition: 0.3s;
}
.sec7Slider .slick-slide {
  margin-right: 20px !important;
  margin-left: 10px !important;
  margin-bottom: 15px;

}
.sec7Slider .slick-dots {
  margin-top: 20px;
  position: unset;
}
.sec7Slider .slick-dots li.slick-active button:before {
  width: 43px;
height: 11px;
  opacity: 1;
  color: var(--black);
  margin-left: -10px;
}
.sec7Slider .slick-dots li {
  width: 36px;
  margin-left: 5px;
  margin-right: 8px;
}
.sec7Slider .slick-dots li button:before {
  height: 11px;
  width: 31px;
  background-color: var(--black);
  position: absolute;
  left: 50%;
  border-radius: 34px;
  font-size: 0;
}
.sec7Slider .slick-center {
  border: 1px solid #ffcf23 !important;
  box-shadow: 10px 10px 0px 0px #ffcf23 !important;
}
.max_900 {
  max-width: 900px;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-button::after {
  display: none !important;
 }
 .accordion-button:not(.collapsed) {
  color: var(--black) !important;
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
.sec7img1{
  left: 0;
  top: 40%;
}
.sec7img1 span svg{
  width: 70px;
height: 70.254px;
flex-shrink: 0;
}
/* footer  */
.footerSvg {
  width: 32px;
  height: 32px;
  background: var(--dark);
  transition: 0.3s;
}
.footerSvg:hover {
  transform: translateY(2px);
}
.footerSvg svg path {
  fill: #fafafa;
}
.footerSvg:hover svg path {
  fill: #6fb9d7;
}
.footerLink {
  opacity: 0.7;
  transition: 0.3s;
}
.footerLink:hover {
  opacity: 1;
}
.footer_line{
  height: 1px;
  opacity: 0.2;
background: #FAFAFA;
}
/* media querys  */
@media (min-width: 576px) {
  .skyImg svg {
    width: 150px;
    height: 150px;
  }
  .scribble1 svg {
    width: 84px;
    height: 51px;
  }
  .scribble2 svg {
    width: 84px;
    height: 51px;
  }
  .scribble3 svg {
    width: 84px;
    height: 51px;
  }
  .scribble4 svg {
    width: 84px;
    height: 51px;
  }
  .orangeImg {
    bottom: 4%;
    max-width: 265px;
    max-height: 212px;
  }
  .yellowImg {
    top: 14%;
    max-width: 226px;
    max-height: 183px;
  }
  .greenImg {
    bottom: 1%;
    max-width: 199px;
    max-height: 169px;
  }
  .vh_140 {
    min-height: unset;
  }
  .gap-sm-30 {
    gap: 30px !important;
  }
  .btn1 {
    max-width: 390px !important;
  }
  .btn2 {
    max-width: 390px !important;
  }
  .btn3 {
    max-width: 390px !important;
  }
  .btn4 {
    max-width: 390px !important;
  }
  .py-sm-60 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  :root {
    --fs-sm: 14px;
    --fs-lg: 16px;
    --fs-xl: 17px;
    --fs-2xl: 20px;
    --fs-4xl: 34px;
    --fs-6xl: 48px;
  }
  .priceBtn {
    max-width: 240px;
  }
  .sec5Img1 span svg {
    width: 50px;
    height: 73.529px;
    flex-shrink: 0;
  }
  .sec5Img2 span svg {
    width: 67px;
    height: 65.529px;
    flex-shrink: 0;
  }
  .sec5Img6 span svg {
    width: 67px;
    height: 65.529px;
    flex-shrink: 0;
  }
  .sec5Img3 span svg {
    width: 43px;
    height: 70.529px;
    flex-shrink: 0;
  }
  .sec5Img4 span svg {
    width: 72px;
    height: 59.529px;
  }
  .sec5Img7 span svg {
    width: 43px;
    height: 70.529px;
  }
  .sec5Img1 {
    top: 5%;
    left: 5%;
  }
  .sec5Img2 {
    top: 5%;
    right: 5%;
  }
  .sec5Img3 {
    top: 30%;
    left: 5%;
  }
  .sec5Img4 {
    top: 33%;
    right: 3%;
  }
  .sec5Img5 {
    top: 40%;
  }
  .sec5Img7 {
    top: 73%;
    left: 3%;
  }
  .rightEllipse {
    top: 35%;
    width: 300px;
    min-height: 138px;
  }
  .greenimg1 {
    top: 2%;
    left: 4%;
    width: 153.679px;
    height: 130.523px;
    transform: rotate(12.79deg);
  }
  .skyimg1 {
    bottom: 8%;
    right: 10%;
    width: 196.679px;
    height: 196.523px;
    transform: rotate(-35.865deg); 
   }
   .accordion-button::after {
    display: block !important;
   }
  .sec3PImg2{
    top: 5%;
    right: 5%;
  }
  .sec3PImg2 span svg{
    width: 55px;
    height: 57.529px;
    flex-shrink: 0;
  }
  .sec3PImg3 span svg{
    width: 55px;
    height: 57.529px;
    flex-shrink: 0;
  }
  .sec3PImg4 span svg{
    width: 199.68px;
    height: 169.739px;
    transform: rotate(0.779deg);
  }
}
@media (min-width: 768px) {
  .logo a span svg {
    width: 235px;
    height: 30px;
  }
  .btn1 {
    max-width: 350px !important;
  }
  .btn2 {
    max-width: 350px !important;
  }
  .btn3 {
    max-width: 350px !important;
  }
  .btn4 {
    max-width: 350px !important;
  }
  .py-md-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  :root {
    --fs-sm: 15px;
    --fs-lg: 17px;
    --fs-xl: 18px;
    --fs-2xl: 22px;
    --fs-4xl: 38px;
    --fs-6xl: 55px;
  }
  .sec7img {
    max-width: 211px;
    min-height: 191px;
  }
}
@media (min-width: 992px) {
  .skyImg svg {
    width: 163px;
    height: 211px;
  }
  .skyImg {
    top: 15%;
    left: 0;
  }
  .centerImg1 {
    transform: rotate(0);
  }
  .logo a span svg {
    width: 252px;
    height: 35px;
  }
  .gap-lg-41 {
    gap: 41px !important;
  }
  .menu {
    display: none;
  }
  .py-lg-155 {
    padding-top: 155px;
    padding-bottom: 155px;
  }
  .py-lg-100 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .btn1 {
    max-width: 343px !important;
  }
  .btn2 {
    max-width: 238px !important;
  }
  .btn3 {
    max-width: 205px !important;
  }
  .btn4 {
    max-width: 261px !important;
  }
  .sec5Img5 span svg {
    width: 246px;
    height: 197.529px;
  }
  :root {
    --fs-sm: 16px;
    --fs-lg: 18px;
    --fs-xl: 20px;
    --fs-2xl: 24px;
    --fs-4xl: 42px;
    --fs-6xl: 62px;
  }
  .borderRight {
    border-right: 1px #e6e1ce solid !important;
  }
  .borderLeft {
    border-left: 1px #e6e1ce solid !important;
  }
  .sec3Skyimg{
    top: 2%;
  }
  .sec3Skyimg span svg{
    width: 212.256px;
    height: 210.672px;
    flex-shrink: 0;
  }
  .sec7img1 span svg{
    width: 168px;
    height: 166.746px;
    flex-shrink: 0;
  }
  .sec7img1{
    top: 50%;
  }
}
@media (max-width: 992px) {
  .mobileView {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    position: fixed;
    padding-top: 75px !important;
    width: 100%;
    height: 100%;
    right: -100%;
    transition: all 0.3s linear;
    background-color: var(--grey2);
    z-index: 10 !important;
  }
  .mobileView.show {
    right: 0;
  }
  .menu {
    z-index: 10 !important;
  }
}
